<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Nicholas Eveland</title>
        <link rel="icon" href="/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

        <!--Favicon-->
 

    </head>
    <body style="visibility: hidden;" onload="document.body.style.visibility='visible'">

        <!--NavBar-->
        <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light shadow">
            <a class="navbar-brand" style="color: #005c99;" href="/resume">Nicholas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto" id="nav-links">
                    <% if(path === '/resume') { %>
                        <li class="nav-item">
                            <a class="nav-link resume-onscreen-link" href="#education">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link resume-onscreen-link" href="#experience">Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link resume-onscreen-link" href="#qualifications">Qualifications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="portfolio" href="/portfolio">My Projects</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" id="resume-link" href="/resume">Resum&eacute;</a>
                        </li>
                    <% };%>
                </ul>
                <ul class="navbar-nav">
                    <% if(!currentUser) { %>
                        <li class="nav-item">
                            <a class="nav-link" id="login" href="/login">Login</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <div class="nav-link disabled" id="user" href="*">Signed in as <%= currentUser.username  %></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="logout" href="/logout">Logout</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </nav>

        <div class="content-wrap">  
