body {
    font-family: 'Montserrat';
    width: 100%;
    overflow: hidden;
         overflow-y: auto;
  }

  a {
     text-decoration: none;
  }

.navbar {
   background-color: #cce5ff !important;
}
 
 .navbar-brand { 
    color: #005c99;
    font-size: x-large;
 }
 
 .navbar-toggler:focus,
 .navbar-toggler:active,
 .navbar-toggler-icon:focus {
     outline: none;
     box-shadow: none;
 }
 
 #upper-container {
    max-width: 97.9%;
 }

 .about-container {
    overflow: hidden;
 }

 .colored-container {
    background-color: #cce5ff;
 }

 .other-container {
   margin-bottom: 60px;
 }

#loadingSpinner {
   z-index: 10000;
   width: 3rem; 
   height: 3rem;
}

 
 #title {
    padding-left: 0;
    padding-right: 0;
 }
 
 #portrait {
    padding-left: 0;
    padding-right: 0;
 }
 
 /** Links in header **/
 
.anchor{
   display: block;
   height: 60px; /*same height as header*/
   margin-top: -60px; /*same height as header*/
   visibility: hidden;
}

.navbar-brand {
   font-weight: 550;
}

.nav-link {
   font-weight: 550;
}
 
 h2 {
    font-family: 'Montserrat';
    padding-bottom: 5px;
    text-align: center;
    color: #005c99;
    font-weight: 500;
 }
 
 h5 {
    color: #7697f8;
    font-weight: 100;
 }
 
 /** cards **/
 
 .card {
    /**margin: 1rem auto;**/
    text-align: center;
    transition: all 200ms;
 }

 #qualification {
    text-align: left;
 }
 
 .card-img-top {
    margin: 0 auto;
    max-width: 65%;
 }
 
 .location-and-date {
    font-style: oblique;
 }
 
 .card-title {
    font-weight: 500;
 }

 
.headingText {
   padding-top: 2rem;
   font-size: 3em;
}
 
 hr.style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0));
 }

 .famSocial {
   font-family: 'Bowlby One SC', cursive;
   color: #FFC04E;
}

 @media screen and (max-width: 600px) {
   .famSocial {
      font-size: 1em;
   }
 }

 @media screen and (max-width: 1100px) {
   .famSocial {
      font-size: 2em;
   }
 }

 @media screen and (min-width: 1101px) {
   .famSocial {
      font-size: 2.25em;
   }
 }
 
 /** Footer **/


 .content-wrap {
   padding-bottom: 6.2rem; /* height of footer */
   position: relative;
    min-height: 100vh;
}

 footer {
   z-index: 10;
   position: absolute;
   display: block;
   bottom: 0;
   width: 100%;
   height: 7rem; 
   text-align: center;
   padding-top: 15px;
   padding-bottom: 5px;
}

.social-link {
   color: #b6cffa;
   font-size: 2rem;
   margin: 1rem;
}

.social-link:hover {
   color: #005c99;
}

#copyright {
   display: block;
   width: 100%;
   margin-top: 2em;
}
 
 /** Project Portfolio **/
 
.portfolio-card {
   padding-top: 0;
   padding-left: 0;
   padding-right: 0;
   text-align: center;
   transition: all 200ms;
   margin-top: 2em;
   border: none;
}

.portfolio-title {
   color: black;
}

.portolio-desc {
   color: rgba(0,0,0,.5);
}

/* Computer */
.comp {
   text-align: center;
   margin: 0 auto;
   width: 100%;
 }
 
 .monitor {
   width: calc(14.09px*20);/** See also .highlight-monitor **/
   height: calc(9.68px*20);/** See also .highlight-monitor **/
   background-color: black;
   border-radius: 8px 8px 0 0;
   border: 3px solid #707070;
   border-bottom: none;
   display: block;
   margin: 0 auto;
   z-index: 10;
 }
 
 .screen {
   width: 95%;
   height: 90%;
   background-color: green;
   margin: 10px auto;
 }
 
 .base {
   height: calc(0.64px*20);/** See also .highlight-base **/
   width: calc(17.5px*20);/** See also .highlight-base **/
   background-color: #707070;
   margin: 0 auto;
   display: block;
   border-radius: 0 0 6px 6px;
 }

 .highlight-monitor {
   width: calc(14.09px*30);
   height: calc(9.68px*30);
 }

 .highlight-base {
   height: calc(0.64px*30);
   width: calc(17.5px*30);
 }

.link-img {
   max-width: 100%;
   height: 100%;
}