<%- include('../partials/header.ejs') %>

<div class="container">    
    <!--Page content-->
       <div class="page-content">
        <section id="full-stack">
            <span class="anchor" id=""></span>
            <h2 class="headingText">Full Stack</h2>
                <div class="row">
                    <div class="col-12">
                        <a href="https://cardapp77.herokuapp.com/" target="_blank">
                            <div class="card portfolio">
                                <div class="portfolio-card">
                                    
                                    <img class="link-img" src="./images/Grayscale on Transparent.png" style="max-width: 100%; height: auto; padding: 15px">
                                    <h5 class="card-title">Cards</h5>
                                    <p class="card-title portolio-desc">Greeting card creator built on Node.js</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        </section>

        <hr class="style-one">
        
        <section id="react">
           <div class="react">
               <!--Front-end Libraries-->
               <span class="anchor" id="frontend-libraries"></span>
                <h2 class="headingText">Front-End Web Development</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a href="https://codepen.io/nicholas-eveland/full/BaKJxQg" target="_blank">
                            <div class="card portfolio">
                                <div class="portfolio-card">
                                    
                                    <img class="link-img" src="./images/tax_calc_img.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                                    <h5 class="card-title">Tax Withholing Estimator</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                   <div class="col-sm-12 col-md-6">
                        <a href="https://codepen.io/nicholas-eveland/full/mdeoPNB" target="_blank">
                            <div class="card portfolio shadow-sm">
                                <div class="portfolio-card">
                                    <img src="./images/pomodoro_clock.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                                    <h5 class="card-title">React Pomodoro Clock</h5>
                                </div>
                            </div>
                        </a>
                   </div>
                   <div class="col-sm-12 col-md-6">
                        <a href="https://codepen.io/nicholas-eveland/full/yLYRjpG" target="_blank">
                        <div class="card portfolio shadow-sm">
                            <div class="portfolio-card">
                                <img src="./images/calculator.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                                <h5 class="card-title">React Calculator</h5>
                            </div>
                        </div>
                        </a>
                   </div>
                   <div class="col-sm-12 col-md-6">
                        <a href="https://codepen.io/nicholas-eveland/full/VwvbaLq" target="_blank">
                           <div class="card portfolio shadow-sm">
                               <div class="portfolio-card">
                                   <img src="./images/markdown_previewer.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                                   <h5 class="card-title">Markdown Previewer</h5>
                               </div>
                           </div>
                        </a>
                       </div>
                    <div class="col-sm-12 col-md-6">
                        <a href="https://codepen.io/nicholas-eveland/full/bGVomdm" target="_blank">
                            <div class="card portfolio shadow-sm">
                                <div class="portfolio-card">
                                    <img src="./images/drum_machine.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                                    <h5 class="card-title">Drum Machine</h5>
                                </div>
                            </div>
                        </a>
                   </div>
                   <div class="col-sm-12 col-md-6">
                    <a href="https://codepen.io/nicholas-eveland/full/QWjERdJ" target="_blank">
                           <div class="card portfolio shadow-sm">
                               <div class="portfolio-card">
                                   <img src="./images/random_quote.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                                   <h5 class="card-title">Random Quote Generator</h5>
                               </div>
                           </div>
                        </a>
                    </div>
                        <div class="col-sm-12 col-md-6">
                            <a href="https://codepen.io/nicholas-eveland/full/BajyJwQ" target="_blank">
                            <div class="card portfolio shadow-sm">
                                <div class="portfolio-card">
                                    <img class="link-img" src="./images/rgb-game.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                                    <h5 class="card-title">RGB Color Game</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>  
           </div>
   </div>
</div>


<%- include('../partials/footer.ejs') %>