<%- include('../partials/header.ejs') %>

<div class="container">    
    <!--Page content-->
       <div class="page-content">
        <span class="anchor" id=""></span>
        <h2 class="headingText">Full Stack JS</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6 my-2">
                <a href="https://cardapp77.herokuapp.com/" target="_blank" class="btn btn-transparent">
                    <div class="card portfolio">
                        <div class="portfolio-card">
                            
                            <img class="link-img" src="./images/Grayscale on Transparent.png" style="max-width: 100%; height: auto; padding: 15px">
                            <p class="card-title portolio-desc">Greeting card creator built on Node.js</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
                <a href="https://famsocial.herokuapp.com/" target="_blank" class="btn btn-transparent w-100">
                    <div class="card portfolio" style="background-color: #046C8C;">
                        <div class="portfolio-card">
                            
                            <div>
                                <div class="p-5 famSocial">FamSocial</div>
                            </div>
                            <p class="card-title portolio-desc text-white">The social network designed for your Fam!</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <hr class="style-one">

        <!--Front-end Libraries-->
        <span class="anchor" id="frontend-libraries"></span>
        <h2 class="headingText">React</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6 my-2">
                <a href="https://codepen.io/nicholas-eveland/full/BaKJxQg" target="_blank" class="btn btn-transparent">
                    <div class="card portfolio">
                        <div class="portfolio-card">
                            
                            <img class="link-img" src="./images/tax_calc_img.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                            <h5 class="card-title">Tax Withholing Estimator</h5>
                            <p class="card-body">Calculate your estimated tax for the year and the amount you need to withhold by the end of the year</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
                <a href="https://codepen.io/nicholas-eveland/full/mdeoPNB" target="_blank" class="btn btn-transparent">
                    <div class="card portfolio shadow-sm">
                        <div class="portfolio-card">
                            <img src="./images/pomodoro_clock.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                            <h5 class="card-title">React Pomodoro Clock</h5>
                            <p class="card-body">Easy to use pomodoro timer to stay focused and mentally fresh</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
                <a href="https://reactcalchp.herokuapp.com" target="_blank" class="btn btn-transparent">
                <div class="card portfolio shadow-sm">
                    <div class="portfolio-card">
                        <img src="./images/calculator.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                        <h5 class="card-title">React Calculator</h5>
                        <p class="card-body">Calculator built on Node.js and React</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
            <a href="https://hoursplanner.herokuapp.com" target="_blank" class="btn btn-transparent" style="width: 100%; height: 100%;">
                <div class="card portfolio shadow-sm">
                    <div class="portfolio-card">
                        <img src="./images/clock.png" style="width: auto; height: 20em; padding: 15px">
                        <h5 class="card-title">Hours Planner</h5>
                        <p class="card-body">Calculate the number of chargeable hours you need to work to hit your monthly goals. Perfect for tax accountants!</p>
                    </div>
                </div>
            </a>
        </div>
            <div class="col-sm-12 col-md-6 my-2">
                <a href="https://codepen.io/nicholas-eveland/full/VwvbaLq" target="_blank" class="btn btn-transparent">
                    <div class="card portfolio shadow-sm">
                        <div class="portfolio-card">
                            <img src="./images/markdown_previewer.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                            <h5 class="card-title">Markdown Previewer</h5>
                            <p class="card-body">Write in markdown and see an instant preview</p>
                        </div>
                    </div>
                </a>
                </div>
            <div class="col-sm-12 col-md-6 my-2">
                <a href="https://codepen.io/nicholas-eveland/full/bGVomdm" target="_blank" class="btn btn-transparent">
                    <div class="card portfolio shadow-sm">
                        <div class="portfolio-card">
                            <img src="./images/drum_machine.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                            <h5 class="card-title">Drum Machine</h5>
                            <p class="card-body">Simple drum machine triggered by mouse or keyboard</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
            <a href="https://codepen.io/nicholas-eveland/full/QWjERdJ" target="_blank" class="btn btn-transparent">
                    <div class="card portfolio shadow-sm">
                        <div class="portfolio-card">
                            <img src="./images/random_quote.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                            <h5 class="card-title">Random Quote Generator</h5>
                            <p class="card-body">Generate a random quote instantly</p>
                        </div>
                    </div>
                </a>
            </div>
                <div class="col-sm-12 col-md-6 my-2">
                    <a href="https://codepen.io/nicholas-eveland/full/BajyJwQ" target="_blank" class="btn btn-transparent">
                    <div class="card portfolio shadow-sm">
                        <div class="portfolio-card">
                            <img class="link-img" src="./images/rgb-game.png" style="max-width: 100%; height: auto; padding-bottom: 15px">
                            <h5 class="card-title">RGB Color Game</h5>
                            <p class="card-body">Guess the color of any given RGB pattern</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
   </div>
</div>


<%- include('../partials/footer.ejs') %>